#photo-grid img {
  height: 300px;
}

#photo-grid {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
  align-items: center;
}


@media (min-width: 768px) {
  #photo-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 976px) {
  #photo-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* At 768px, 2 columns */
/* At 976px, 3 columns */